.chessboard-container > div {
    max-width: 40%; 
}

.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

/*.chessboard-wrapper {
    margin-right: 20px;*/ /* Spațiu între tabla de șah și piesele capturate */
/*}

.captured-pieces {
    display: flex;
    flex-direction: column;
}

.captured-piece {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}*/
